<%- include('Layout/Header')%>


<div class="container-fluid">
  <div class="row">
    <!-- Kiri pakai background image -->
    <div class="col-12 col-lg-8 min-vh-100 text-white d-none d-lg-block p-0">
        <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel" data-bs-wrap="true">
            <div class="carousel-indicators mb-5">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" style="width: 100px; height: 5px;" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" style="width: 100px; height: 5px;" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" style="width: 100px; height: 5px;" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100" data-bs-interval="3000">
                    <img src="Images/LoginKomponen.png" class="d-block w-100 h-100 object-fit-cover" alt="...">
                </div>
                <div class="carousel-item h-100" data-bs-interval="3000">
                    <img src="Images/LoginKomponen2.png" class="d-block w-100 h-100 object-fit-cover" alt="...">
                </div>
                <div class="carousel-item h-100" data-bs-interval="3000">
                    <img src="Images/LoginKomponen3.png" class="d-block w-100 h-100 object-fit-cover" alt="...">
                </div>
            </div>        
        </div>
    </div>

    <div class="col-12 col-lg-4 p-5 d-flex flex-column justify-content-center align-items-center min-vh-75 position-relative min-vh-100" style="background: url('Images/LoginKomponen4.png') center/cover no-repeat;">
        <!-- Overlay blur -->
        <div class="position-absolute top-0 start-0 w-100 h-100" style="backdrop-filter: blur(8px); background-color: rgba(255,255,255,0.5);"></div>
        <div class="w-100 position-relative" style="max-width: 400px; z-index: 2;">
            <img src="Images/LoginKomponen5.png" style="width: 300px;height: 300px;" class="d-block d-lg-none mx-auto"  alt="...">
            <p class="fw-light fs-1">
                Selamat datang di <span class="fw-semibold" style="color:rgb(54, 148, 255)">PT XYZ</span>
            </p>
            <p class="fw-semibold opacity-50 mb-3" style="font-size: 12px;">
                Optimalkan operasional pelayaran dengan teknologi <br>
                pelacakan kapal yang cepat, aman, dan efisien.
            </p>

           <form action="/Login" method="POST">
                <label class="p-1">Username</label>
                <input name="username" class="form-control mb-3 rounded-2 mb-3 p-2 shadow" style="font-size: 14px; background-color: transparent;" type="text" placeholder="Masukkan username">

                <label class="p-1">Password</label>
                <input name="password" class="form-control mb-3 rounded-3 p-2 shadow" type="password" placeholder="Masukkan kata sandi" style="font-size:14px; background-color: transparent;">

                <button type="submit" class="btn btn-outline-primary w-100 mt-4 rounded-2 p-2 shadow-sm" style="font-size: 16px;">Masuk</button>
                <button type="button" class="btn btn-primary w-100 mt-2 rounded-2 p-2 shadow-sm" style="font-size: 16px;">Kembali</button>
            </form>
        </div>
    </div>
</div>




<%- include('Layout/Footer')%>
