<!-- Sidebar -->
<div id="sidebar" class="sidebar collapsed flex-column">
    <div class="row my-3 d-none d-md-block">
        <div class="col-9 text-start my-auto">
            <img class="" src="Images/xyz.png"  style="width:100px; height:50px;" alt="">
        </div>
    </div>
    <div class="row my-3 d-flex d-lg-none align-items-center" onclick="toggleSidebar()">
        <div class="col-9" >
            <img src="Images/xyz.png" style="width:80px; height:50px;" alt="">
        </div>
        <div class="col-3 text-center">
            <button class="btn btn-sm btn-light">☰</button>
        </div>
    </div>
    
    <div class="box-card row mx-auto border border-1 p-2 rounded-4 mb-3" style="background-color:white;">
        <div class="col-3 text-center my-auto">
            <img class="rounded-circle border border-1" src="Images/default.png"  style="width:50px; height:50px; object-fit:cover;" alt="">
        </div>
        <div class="col-9 text-start my-auto">
            <div class="row">
                <p class="my-auto fw-semibold" style="font-size:12px">Muhammad Risky Farhan</p>
            </div>
            <div class="row">
                <p class="my-auto fw-semibold opacity-50" style="font-size:14px">Admin</p>
            </div>
        </div>
    </div>
    <div class="sidebar-component">
        <hr class="m-3">
        <p class="fw-semibold opacity-50" style="margin-left: 30px;">Menu</p>
    </div>
    
    <nav class="nav flex-column flex-grow-1">
        <a href="/" class="nav-link mx-3 py-3 rounded-4" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
            <i class="fas fa-home"></i> <span class="link-text">Dashboard</span>
        </a>
        <a href="/Tracker" class="nav-link mx-3 py-3 rounded-4" data-bs-toggle="tooltip" data-bs-placement="right" title="Trackers">
            <i class="fas fa-map"></i> <span class="link-text">Trackers</span>
        </a>
    </nav>

    <div class="row border border-1 mx-3 mb-3 rounded-4" style="background-color:#f1f1f1;">
        <a href="#" class="nav-link rounded-4" data-bs-toggle="tooltip" data-bs-placement="right" title="Pengaturan">
            <i class="fas fa-cog ms-3"></i> <span class="link-text">Pengaturan</span>
        </a>
    </div>
    <div class="row border border-1 mx-3 mb-3 rounded-4" style="background-color:#f1f1f1;">
        <a href="/logout" class="nav-link rounded-4" data-bs-toggle="tooltip" data-bs-placement="right" title="Keluar">
            <i class="fa-solid fa-arrow-right-from-bracket ms-3"></i> <span class="link-text">Keluar</span>
        </a>  
    </div>
</div>


<div id="main-content">

